.collection{
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 768px) {
        display: block;
    }

    img {
        max-width: 100%;
    }

    &--image-full-width {
        display: block;
        position: relative;

        img{
            width: 100%;
        }
        
        &__text_container {
            position: absolute;
            top: 0;
            height: 100%;
            left: 50%;
            width: calc(45% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 768px) {
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }
}